@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-page="/Events">Register</a>
    <a asp-area="" asp-page="/Events">Log In</a>
</div>
